<div>
    <app-nav-bar [homepageActive]="true"></app-nav-bar>
    <div class="container">
        <!--welcome message and search bar-->
        <div class="row top-buffer align-items-center">
            <div class="col-lg-8">
                <h1 class="display-4" *ngIf="currentUser">
                    Welcome to the Policy Machine, {{currentUser}}!
                </h1>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3 float-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-info btn-round">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--applications-->
        <div>
            <div class="row sep-buffer">
                <div class="col-12">
                    <h3>
                        Applications
                    </h3>
                </div>
            </div>
            <div class="row">
                <app-app-box class="m-3" [color]="'#00bcd4'" [name]="'E-Grant'" [symbol]="'email'" routerLink="/applications/egrant">
                    <i class="material-icons text-info">info</i> Email/Grant Application
                </app-app-box>
                <app-app-box class="m-3" [color]="'#f44336'" [name]="'Medical Records'" [symbol]="'local_hospital'" routerLink="/applications/medical">
                    <i class="material-icons text-info">info</i> Medical Records Application
                </app-app-box>
                <app-app-box class="m-3" [color]="'#4caf50'" [name]="'Employee Records'" [symbol]="'view_headline'">
                    <i class="material-icons text-danger">info</i> Not yet implemented
                </app-app-box>
                <app-app-box class="m-3" [color]="'#4fa3db'" [symbol]="'list'" [name]="'POS'" routerLink="/applications/pos">
                    <i class="material-icons text-info">info</i> Personalized Object System
                </app-app-box>
                <app-app-box class="m-3" [symbol]="'insert_drive_file'" [name]="'Word'" routerLink="/applications/word">
                    <i class="material-icons text-info">info</i> Text Editor
                </app-app-box>
            </div>
        </div>

        <!--Some Extra Info-->
        <div>
            <div class="row sep-buffer">
                <div class="col-12">
                    <h3>
                        Extra info section
                    </h3>
                </div>
            </div>
            <div class="row top-buffer justify-content-start">
                <h5 class="app-buffer">
                    I was originally going to put the pos here. Now that I think about it, the pos I want to design will require a
                    full page. So now it will be in its own separate component. Question is, what should be placed here instead?
                    Maybe recent documents, or some other sort of meta data.
                </h5>
            </div>
        </div>
    </div>
</div>
