<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-12 scroller">-->
            <!---->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row top-buffer">-->
        <!--<div class="col-12">-->
            <!--<div class="input-group mb-3">-->
                <!--<div class="input-group-prepend">-->
                    <!--<button class="btn btn-primary" (click)="addFolder(newName.value)">-->
                        <!--New Folder-->
                    <!--</button>-->
                <!--</div>-->
                <!--<input type="textarea" class="form-control p-3" style="font-size: 20px; text-align: center" #newName>-->
                <!--<div class="input-group-append">-->
                    <!--<button class="btn btn-primary" (click)="addDocument(newName.value)">-->
                        <!--New Document-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div *ngIf="pos">
    <i class="fa fa-user"> {{sessionUser}}</i>
    <ul class="list-group">
        <li class="list-group-item lst-item"
            *ngFor="let po of pos"
            style="background-color: white">
            <app-list (eleClicked)="onDocClick($event)" (eleDblClicked)="onDocDblClick($event)" [level]="0"
                      [root]="po"></app-list>
        </li>
    </ul>
</div>