.lst-item {
  color: black;
  //font-size: 12px;
  border-radius: 5px;
  margin: 1px;
}

//.scroller {
//  height: 80vh;
//  overflow-y: scroll;
//  width: 100%;
//}
//
//.top-buffer {
//  margin-top:20px;
//}