<div class="container-fluid">
    <div class="row header justify-content-lg-start">
        <div class="mt-3 col-4 text-left">
            <app-side-menu [clr]="'black'"></app-side-menu>
        </div>
        <div class="col-4 text-center">
            <p class="h2 m-0 p-0" style="font-family: Courier">POS</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row top-buffer">
        <div class="col-4 border-right">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 scroller">
                        <app-poshome (selectedDoc)="selectedDoc = $event" #graph></app-poshome>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" (click)="addFolder(graph, name.value)">
                                    New Folder
                                </button>
                            </div>
                            <input type="textarea" class="form-control p-3" style="font-size: 20px; text-align: center" #name>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="addDocument(graph, name.value)">
                                    New Document
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<app-list (eleClicked)="onDocClick($event)" [level]="0" [root]="pos[0]"></app-list>-->
            <!--<footer class="footer">-->
            <!--hi i'm a footer-->
            <!--</footer>-->
        </div>
        <div class="col-8 border-left" *ngIf="selectedDoc">
            <h1>{{selectedDoc.name}}</h1>
            <p>id: {{selectedDoc.id}}</p>
            <p>label: {{selectedDoc.type}}</p>
            <p># of children: {{selectedDoc.children.length}}</p>
            <p>properties:</p>
            <ul>
                <li *ngFor="let prop of selectedDoc.properties">
                    {{prop.key}}: {{prop.value}}
                </li>
            </ul>
            <p *ngIf="selectedDoc.content">content: {{selectedDoc.content}}</p>
        </div>
    </div>
</div>
