<div class="container-fluid">
    <div class="row header justify-content-lg-start">
        <div class="mt-3 col-2 text-left">
            <app-side-menu [clr]="'black'"></app-side-menu>
        </div>
        <div class="col-8 text-center">
            <p class="h2 m-0 p-0" style="font-family: Courier">Policy Builder with Natural Language</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3 mb-2">
        <div class="col-4">
            <button class="btn btn-primary w-100" (click)="onNodeClick()" [disabled]="!nodes.length">Node</button>
        </div>
        <div class="col-4">
            <button class="btn btn-success w-100" (click)="onAssignmentClick()" [disabled]="!nodes.length">Assignment</button>
        </div>
        <div class="col-4">
            <button class="btn btn-warning w-100" (click)="onAssociationClick()" [disabled]="!nodes.length">Association</button>
        </div>
    </div>
</div>

<div class="container scroller">
    <div class="row">
        <div class="col-5"><hr></div>
        <div class="col-2 text-center">Start</div>
        <div class="col-5"><hr></div>
    </div>
    <div *ngFor="let command of commands; let i = index" class="row">
        <!--Create Node-->
        <div class="col-12" *ngIf="command.type === 'node'">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-primary">CREATE</span>
                </div>
                <select class="custom-select border-0" [value]="command.data.nodeType"
                        (change)="onCommandUpdate(i, 'nodeType', nType.value)" #nType>
                    <option selected>Type...</option>
                    <option *ngFor="let type of nodeTypes" [value]="type">{{type}}</option>
                </select>
                <input type="text" class="form-control" placeholder="name" [value]="command.data.nodeName"
                       (change)="onCommandUpdate(i, 'nodeName', nName.value)" #nName>
                <div class="input-group-prepend">
                    <span class="input-group-text text-primary">in</span>
                </div>
                <select class="custom-select border-0" [value]="command.data.parentType"
                        (change)="onCommandUpdate(i, 'parentType', pType.value)" #pType>
                    <option selected>Type...</option>
                    <option *ngFor="let type of attributeTypes" [value]="type">{{type}}</option>
                </select>
                <select class="custom-select border-0" [value]="command.data.parentId"
                        (change)="onCommandUpdate(i, 'parentId', pId.value)"
                        [disabled]="!filterNodesBy(pType.value).length" #pId>
                    <option selected>Choose...</option>
                    <option *ngFor="let node of filterNodesBy(pType.value)" [value]="node.id">{{node.name}}</option>
                </select>
            </div>
        </div>

        <!--Create Assignment-->
        <div class="col-12" *ngIf="command.type === 'assignment'">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-success">ASSIGN</span>
                </div>
                <select class="custom-select border-0" [value]="command.data.nodeType"
                        (change)="onCommandUpdate(i, 'nodeType', nType.value)" #nType>
                    <option selected>Type...</option>
                    <option *ngFor="let type of nodeTypes" [value]="type">{{type}}</option>
                </select>
                <select class="custom-select border-0" [value]="command.data.nodeId"
                        (change)="onCommandUpdate(i, 'nodeId', nId.value)"
                        [disabled]="!filterNodesBy(nType.value).length" #nId>
                    <option selected>Choose...</option>
                    <option *ngFor="let node of filterNodesBy(nType.value)" [value]="node.id">{{node.name}}</option>
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text text-success">to</span>
                </div>
                <select class="custom-select border-0" [value]="command.data.parentType"
                        (change)="onCommandUpdate(i, 'parentType', pType.value)" #pType>
                    <option selected>Type...</option>
                    <option *ngFor="let type of attributeTypes" [value]="type">{{type}}</option>
                </select>
                <select class="custom-select border-0" [value]="command.data.parentId"
                        (change)="onCommandUpdate(i, 'parentId', pId.value)"
                        [disabled]="!filterNodesBy(pType.value).length" #pId>
                    <option selected>Choose...</option>
                    <option *ngFor="let node of filterNodesBy(pType.value)" [value]="node.id">{{node.name}}</option>
                </select>
            </div>
        </div>

        <!--Create Association-->
        <div class="col-12" *ngIf="command.type === 'association'">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-success">ASSIGN</span>
                </div>
                <select class="custom-select border-0" [value]="command.data.nodeType"
                        (change)="onCommandUpdate(i, 'nodeType', nType.value)" #nType>
                    <option selected>Type...</option>
                    <option *ngFor="let type of nodeTypes" [value]="type">{{type}}</option>
                </select>
                <input type="text" class="form-control" placeholder="name" [value]="command.data.nodeName"
                       (change)="onCommandUpdate(i, 'nodeName', nName.value)" #nName>
                <div class="input-group-prepend">
                    <span class="input-group-text text-success">to</span>
                </div>
                <select class="custom-select border-0" [value]="command.data.parentType"
                        (change)="onCommandUpdate(i, 'parentType', pType.value)" #pType>
                    <option selected>Type...</option>
                    <option *ngFor="let type of attributeTypes" [value]="type">{{type}}</option>
                </select>
                <select class="custom-select border-0" [value]="command.data.parentName"
                        (change)="onCommandUpdate(i, 'parentName', pName.value)" #pName>
                    <option selected>Choose...</option>
                    <option [value]="1">Bob Home</option>
                    <option [value]="1">Doctors</option>
                    <option [value]="1">Records</option>
                </select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-5"><hr></div>
        <div class="col-2 text-center">End</div>
        <div class="col-5"><hr></div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-info w-100" (click)="onOpenXML()">
                    Create XML
                </button>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="xmlModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generated XML</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p style="font-family: Courier">{{stringify(xml)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="justify-content-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>