<div class="container-fluid" style="background-color: #cccccc">
    <div class="row section-10">
        <div class="col-12 actions">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 text-left mt-4">
                        <app-side-menu [clr]="'black'"></app-side-menu>
                    </div>
                    <div class="col-4 text-center">
                        <p class="h2 center" style="font-family: Courier">WORD</p>
                    </div>
                    <div class="col-4 text-right">
                        <div class="btn-group">
                            <button class="btn btn-outline-success">
                                <!--<i class="material-icons">all_inbox</i>-->
                                Open
                            </button>
                            <button class="btn btn-outline-primary">
                                <!--<i class="material-icons">fiber_new</i>-->
                                New
                            </button>
                            <button class="btn btn-outline-info">
                                <!--<i class="material-icons">get_app</i>-->
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-90 justify-content-center">
        <div class="col-2">

        </div>
        <div class="col-8 section-90 scroller align-content-center">
            <div class="document">
                <textarea style="height: 100% !important; width: 100%; border: 0px;"></textarea>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>